body {
    --element-border: 3px solid #425066;
}

main {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: 50px auto 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

form > * {
    margin: 0 0 5px;
}

form > p {
    display: none;
    font-weight: bold;
    color: #aa2112;
}

#img-file {
    display: none;
}

form input[type=button], #img-file-label span {
    padding: 0;
    border: none;
    background: none;
    font-weight: bolder;
    color: #8b9eb8;
    cursor: pointer;
}

#img-source {
    padding: 2px;
    background: none;
    border: var(--element-border);
    border-radius: 5px;
    color: #b8b6b4;
    cursor: help;
}

#img-source::placeholder {
    color: #b8b6b4;
}

#img-source:focus {
    cursor: auto;
    outline: none;
    border: 3px solid #62738b;
}

#img-source-label {
    display: flex;
    flex-direction: column;
    position: relative;
}

#img-source-label > .tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 3px;
    position: absolute;
    top: 31px;
    z-index: 1;
}

#img-source-label:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear 0.5s;

}

#preview {
    position: relative;
    margin: 0 auto 15px;
    min-width: 184px;
    min-height: 184px;
    width: max-content;
    height: max-content;
    border: var(--element-border);
}

#preview > img {
    -webkit-user-drag: none;
    user-select: none;
    max-width: 800px;
    max-height: 600px;
}

#selection {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 184px;
    height: 184px;
    border: 3px solid red;
    box-sizing: border-box;
}

#selection:hover {
    cursor: grab;
}