body {
    --element-border: 3px solid #425066;
}

main {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: 50px auto 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

form > * {
    margin: 0 0 5px;
}

form > p {
    display: none;
}

#img-source {
    padding: 2px;
    background: none;
    border: var(--element-border);
    border-radius: 5px;
    color: #b8b6b4;
}

#img-source::placeholder {
    color: #b8b6b4;
}

#preview {
    margin: 0 auto 15px;
    min-width: 184px;
    min-height: 184px;
    width: max-content;
    height: max-content;
    border: var(--element-border);
}

#preview > img {
    -webkit-user-drag: none;
    user-select: none;
    max-width: 800px;
    max-height: 600px;
}

#selection {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 184px;
    height: 184px;
    border: 3px solid red;
    box-sizing: border-box;
}

#selection:hover {
    cursor: grab;
}

.img-upload {
    display: none;
}