<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../node_modules/normalize.css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="style/generic.css"/>
    <title>Avatars for Steam</title>
</head>
<body>
<nav>
    <img class="logo" src="img/temp_logo.png" alt="Logo"/>
    <span>TOP</span>
    <span>Upload</span>
    <span>About</span>
</nav>
<main>
</main>
</body>
</html>
